{% extends 'learning_logs/base.html' %}
{% block content %}
    <p>Добавление новой темы</p>
    <form action="{% url 'learning_logs:new_topic' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Добавить</button>
    </form>
{% endblock content %}