{% extends 'learning_logs/base.html' %}

{% block content %}
<p>Темы</p>
<ul>
    {% for topic in topics %}
        <li><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></li>
    {% empty %}
        <li>У вас нет ни одной темы</li>
    {% endfor %}
</ul>
    <a href="{% url 'learning_logs:new_topic' %}">Создать новую тему</a>
{% endblock content %}
