{% extends 'learning_logs/base.html' %}
{% block content %}
    <p>Тема: {{ topic }}</p>
    <p><a href="{% url 'learning_logs:new_entry' topic.id %}">Добавить новую запись</a></p>
    <p>Записи:</p>
    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'d-m-Y H:i:s' }}</p>
                <p>{{ entry.text|linebreaks }}</p>
            </li>
        {% empty %}
            <li>У вас нет записей</li>
        {% endfor %}
    </ul>
{% endblock content %}